header {
    background-color: #EEEFF1;
}

.header {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 164.063%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-left: 399px;
    margin-top: 79px;
    color: #34547A;
}

.second_text {
    color: #000;
    font-size: 48px;
    line-height: 164.063%;
    margin: 151px 0px 60px 399px;
}

.lorem_text {
    width: 540px;
    height: 67px;
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    margin-left: 400px;
}

.button_text {
    background-color: #34547A;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    letter-spacing: 1.6px;
    margin-left: 41px;
    margin-top: 19px;
    border: 0px;
    min-width: 225px;
    min-height: 65px;
    margin: 65px 0px 141px 399px;
}

.about_me {
    width: 403px;
    height: 30px;
    color: #000;
    text-align: center;
    font-size: 32px;
    margin: 0 auto;
  
}

.about_lorem {
    width: 540px;
    height: 67px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    margin: 0 auto;
     
}

.blue {
    min-width: 1920px;
    height: 250px;
    flex-shrink: 0;
    background-color: #34547A;
}

.blue_background:first-of-type {
    padding-left: 409px;
}

.blue_background {
    margin: 0;
    display: inline-flex;
    width: 141px;
    height: 50px;
    margin: 100px 45px 100px 49px;
}

.group {
    width: 71px;
    height: 44px;
    flex-shrink: 0;
    color: #FFF;
    display: inline;
}

.group span {
    width: 71px;
    height: 15px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
}

.group p {
    color: #FFF;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 500;
    width: 36px;
    height: 19px;
    display: inline;
}

.blue_background img {
    margin-right: 20px;
}

.how_do_i_work {
    width: 403px;
    height: 30px;
    color: #000;
    text-align: center;
    font-size: 32px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.video {
    min-width: 1920px;
    height: 1004px;
    background-color: #EEEFF1;
}

.youtube {
    margin: 57px 100px 405px 405px;
   
}

.video1 {
    width: 1110px;
    height: 600px;
    flex-shrink: 0;
}

.about_lorem1 {
    width: 540px;
    height: 67px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    margin: 0 auto;
}

footer {
    min-width: 1920px;
    height: 151px;
    background-color: #34547A;
}

footer p {
    width: 130px;
    height: 19px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 21px;
    font-weight: 500;
    padding-left: 406px;
    padding-top: 50px;
    margin-top: 0px;
}

footer span {
    width: 193px;
    height: 12px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 164.063%;
    padding-left: 406px;
    padding-top: 20px;
}

body {
    min-width: 1920px;
    height: 2464px;
    font-family: 'Roboto', sans-serif;
}

.header div {
    float: left;
    padding-right: 42px;
}

.wrapper {
    margin: 0 auto;
    width: 1920px;
}